<plugin id="com.example.screen-capture-prevention" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>ScreenCapturePrevention</name>
    <description>Prevents iOS screen capture and screenshots.</description>
    <platform name="ios">
        <source-file src="src/ios/SecureTextField.swift" />
    </platform>
</plugin>
