<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-secure-window"
        version="1.0.0">
    <name>SecureWindow</name>
    <js-module name="secure-window" src="www/secure-window.js">
        <clobbers target="SecureWindow" />
    </js-module>
    <platform name="ios">
        <source-file src="src/ios/SecureWindow.swift" />
    </platform>
</plugin>

